
/* 
 * This is a sample CSS file for FancySelect.
 * You can easily change styles such as colors, backgrounds, borders, font 
 * and dimensions to customize FancySelect look, but be careful about the
 * layout properties - some of them are essential to make FancySelect works
 * as expected. 
 */

select {
	border: none;
	padding: 0px;
}

/* visually hidden, keeps tabindex intact */
.gsReplaced {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* The following rules set style for the <select> replacement 
 * Select is replaced by an inline <div class="fancy-select"> */

.gsContainer {
	display: inline-block; /* Needed to behave like a select element */
	*display: inline; /* IE7 fix */
	*zoom: 1; /* IE7 fix */
	vertical-align: top;
	margin: 0;
	padding: 0;
	cursor: pointer;
	height: 100%;
}

.gsContainer .gsInner {
	display: block;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c8c8c8;
	background-color: #fff;
	white-space: nowrap;
}

.gsContainer .gsToggler {
	margin: 1px;
	padding: 0;
	float: left;
}

.gsContainer.gsOpen .gsToggler {
/* 	-webkit-border-radius: 3px 3px 0 0; */
/* 	-moz-border-radius: 3px 3px 0 0; */
/* 	border-radius: 3px 3px 0 0; */
/* 	border-bottom: none; */
}

.gsContainer .gsSelection {
	margin: 0 20% 0 0;
	padding: 0;
	float: left;
}

.gsContainer .gsArrow {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 20%;
	margin: 0;
	padding: 0;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAANElEQVQImXXLwQkAIAxD0b9TFnSnDKgXCyXWDz2U8AAM7OEMoM8obqlNK7WIPKnUj6pWfw5v3BfTx+n+2AAAAABJRU5ErkJggg==');
	background-position: center center;
	background-repeat: no-repeat;
}

/* The following rule set style for the dropdown list,
 * which is a <ul class="fancy-select"> */

.gsContainer .gsList {
	display: block;
	float: left;
	clear: both;
	padding: 0;
	overflow: auto;
	max-height: 15em;
/* 	visibility: hidden; */
	margin: -1px;
	height: 1px;
}

.gsContainer.gsOpen .gsList {
	visibility: visible;
	margin: 0;
	height: auto;
}

.gsContainer li {
	display: block;
	margin: 0;
	padding: 1px;
	list-style-type: none;
/* 	border-top: 1px solid #000; */
	overflow: hidden;
}

.gsContainer li:first-child {
	border: none;
}

.gsContainer .gsMarked {
	background-color: #ebfdd7;
}

/* This is for the currently selected option */

.gsContainer .gsSelected {
	background-color: #ddeeff;
	font-weight: bold;
}

/* This is for the disabled options */

.gsContainer .gsDisabled {
	background-color: #dddddd;
	color: #666666;
	cursor: default;
}

/* The following rules set style for inner content of the <select> 
 * replacement and the dropdown list. Just an image and a text left-floated */

.gsContainer .gsImage {
	height: 1.5em;
	vertical-align: text-bottom;
}

.gsContainer .gsText {
	height: 1.5em;
	padding: 0 5px 0 10px;
}
